@page "/clientoverview"

<PageTitle>@Title</PageTitle>
<h2>Client Overview</h2>

@if (Clients == null || Employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ClientDetailsPopup Client="_selectedClient"></ClientDetailsPopup>
    <div class="row">
        @foreach (var client in Clients)
        {
            <AuthorizeView>
                <Authorized>
                    @if (IsEmployeeAuthorized(context?.User?.Identity?.Name, client.ClientId))
                    {
                        <div class="col-12 col-sm-12 col-md-1 col-lg-4 col-xl-3">
                            <ClientCard Client="client" ClientDetailsClicked="ShowClientDetailsPopup"></ClientCard>
                        </div>
                    }
                </Authorized>
            </AuthorizeView>
        }
    </div>
}