################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CareConnections.App/.vs
/CareConnections.App/CareConnections.Api/bin
/CareConnections.App/CareConnections.Api/obj
/CareConnections.App/CareConnections.App/bin
/CareConnections.App/CareConnections.App/obj
/CareConnections.App/CareConnections.App.Tests/bin
/CareConnections.App/CareConnections.App.Tests/obj
/CareConnections.App/CareConnections.Shared/bin
/CareConnections.App/CareConnections.Shared/obj