html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-thumb {
	background: #00aeef;
	border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
	background: #66e0ff;
}
::-webkit-scrollbar-track {
	background: #f0f0f0;
	border-radius: 0px;
	box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
