<div class="col">
    <div class="card rounded-3 client-card">
        <div class="card-header py-3">
            <h4> @Client.FirstName @Client.LastName</h4>
        </div>
        <div class="card-body client-card text-center">
            <div class="mb-3">
                <img src="@($"images/{Client.LastName}.jpg")" class="client-img rounded-circle img-fluid" />
            </div>
        </div>
        <button class="btn btn-primary btn-sm mb-1" @onclick="@(async () => 
            await ClientDetailsClicked.InvokeAsync(Client))"> Client Details</button>
    </div>
</div>